/Ejercicio1/nbproject/private/
/Ejercicio1/build/
/Proyecto1/nbproject/private/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Ejercicio3/nbproject/private/
/Ejercicio3/build/
/Ejercicio3/dist/
/Ejercicio5/nbproject/private/
/Ejercicio5/build/
/EjercicioGuia1/nbproject/private/
/EjercicioGuia1/build/
/EjercicioGuia2/nbproject/private/
/EjercicioGuia2/build/
/EjercicioGuia3/nbproject/private/
/EjercicioGuia3/build/
/Arreglos1/nbproject/private/
/Arreglos1/build/
/Arreglos2/nbproject/private/
/Arreglos2/build/
/Arreglos3/nbproject/private/
/Arreglos3/build/