/Ejercicio1/nbproject/private/
/Ejercicio1/build/
/Proyecto1/nbproject/private/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Ejercicio3/nbproject/private/
/Ejercicio3/build/
/Ejercicio3/dist/
/Ejercicio5/nbproject/private/
/Ejercicio5/build/
/EjercicioGuia1/nbproject/private/
/EjercicioGuia1/build/
/EjercicioGuia2/nbproject/private/
/EjercicioGuia2/build/
/EjercicioGuia3/nbproject/private/
/EjercicioGuia3/build/
/Arreglos1/nbproject/private/
/Arreglos1/build/
/Arreglos2/nbproject/private/
/Arreglos2/build/
/Arreglos3/nbproject/private/
/Arreglos3/build/
/Arreglos4/nbproject/private/
/Arreglos4/build/
/Arreglos5/nbproject/private/
/Arreglos5/build/
/JavaPOO1/nbproject/private/
/JavaPOO1/build/
/WebApplication1/nbproject/private/
/AcademicaApp/nbproject/private/
/AcademicaApp/build/
/JavaApplicationEleazarCartes/nbproject/private/
/JavaApplicationEleazarCartes/build/
/JavaApplicationLeandroAlvarez/nbproject/private/
/JavaApplicationLeandroAlvarez/build/
/RemuneracionesPOO/nbproject/private/
/RemuneracionesPOO/build/
/EnterpriseApplicationWS/nbproject/private/
/EnterpriseApplicationWS/EnterpriseApplicationWS-war/nbproject/private/
/EnterpriseApplicationWS/EnterpriseApplicationWS-ejb/nbproject/private/
/CalificacionesPoo/nbproject/private/
/CalificacionesPoo/build/
/TestComparacion/nbproject/private/
/TestComparacion/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaSwing1/nbproject/private/
/JavaSwing1/build/
/Prueba2/nbproject/private/
/Prueba2/build/
/JavaApplication37/nbproject/private/
/JavaSwing1/dist/